*{padding: 0;margin: 0;}
a{
    text-decoration: none;
}
body,html{overflow-x: hidden;}

.image{
    position: relative;
    width: 100%;
    padding-top: 100%;
}
.image img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
    object-position: center;
}
.flower-image{
    padding-top: 50%;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;
}

/*=========================================480px==========================================*/
@media screen and (max-width:480px) {
    .row {
        --bs-gutter-x: 0.5rem;
        --bs-gutter-y: 0.5rem;
    }
    h1{
        font-size: 25px;
    }
    .nav-link {
        display: block;
        padding: 5px 10px;
    }
}